@font-face{
    src: url('../Src/assets/fonts/discord\ font\ 1.woff');
    font-family: 'Discord1';
}
@font-face{
    src: url('../Src/assets/fonts/discord\ font\ 2.woff');
    font-family: 'Discord2';
}
@font-face{
    src: url('../Src/assets/fonts/discord\ font\ 3.woff');
    font-family: 'Discord3';
}
@font-face{
    src: url('../Src/assets/fonts/discord\ font\ 4.woff');
    font-family: 'Discord4';
}
@font-face{
    src: url('../Src/assets/fonts/discord\ font\ 5.woff2');
    font-family: 'Discord5';
}
@font-face{
    src: url('../Src/assets/fonts/discord\ font\ 6.woff2');
    font-family: 'Discord6';
}